{% extends "base.html" %}

  {% block content %}
	<body class="bg-info">

    <title>lista poemas</title>

        <div class="container">
          <h3>Poemas</h3>
      <div class="col-md-3"></div>
			<div class="row align-items-end">
				<div class="col">
					<table class="table table-hover text-dark">
						<tr class="table-secondary">
							<th><select class="form-select" aria-label="Default select example">
								<option selected>Title</option>
								<option value="1">Asc</option>
								<option value="2">Desc</option></select>
							</th>
							<th><select class="form-select" aria-label="Default select example">
								<option selected>Author</option>
								<option value="1">Asc</option>
								<option value="2">Desc</option></select>
							</th>
							  <th><select class="form-select" aria-label="Default select example">
								<option selected>Date</option>
								<option value="1">Asc</option>
								<option value="2">Desc</option>
							  </select></th>
							  <th><select class="form-select" aria-label="Default select example">
								<option selected>Ranking</option>
								<option value="1">Asc</option>
								<option value="2">Desc</option>
							  </select></th>
						</tr>
						<tr>
							<td>Title 1</td><td>Author 6</td><td>Date 1</td><td>Ranking 10</td>
						</tr>
						<tr>
							<td>Title 2</td><td>Author 5</td><td>Date 22</td><td>Ranking 20</td>
						</tr>
						<tr>
							<td>Title 3</td><td>Author 4</td><td>Date 33</td><td>Ranking 30</td>
						</tr>
						<tr>
							<td>Title 4</td><td>Author 3</td><td>Date 44</td><td>Ranking 40</td>
						</tr>
						<tr>
							<td>Title 5</td><td>Author 2</td><td>Date 55</td><td>Ranking 30</td>
						</tr>
						<tr>
							<td>Title 6</td><td>Author 1</td><td>Date 66</td><td>Ranking 20</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

	<nav aria-label="..." >
		<div class="position-absolute bottom-0 start-50 translate-middle-x">
			<ul class="pagination justify-content-center">
				<li class="page-item">
				<a class="page-link" href="#">Previous</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item active">
				<span class="page-link">2</span>
				</li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
				<a class="page-link" href="#">Next</a>
				</li>
			</ul>
		</div>
	</nav>

	{% endblock %}
