{% extends "base.html" %}

  {% block content %}

    <title>vista principal</title>

    
    <div class="container">

        <div class="d-flex justify-content-center">
        <i class="bi bi-book"></i>
          <h3>Poemas</h3>
        </div>
        <div class = "row">
        <div class="col-md-3">
          <div class="card">
            <img src="https://via.placeholder.com/100x100" class="card-img-top" alt="...">
            <div class="d-grid gap-2">
              <h5 class="card-title">Nombre:</h5>
              <h5 class="card-title">Poema:</h5>
              <h5 class="card-title">Promedio:</h5>
              <h5 class="card-title">Puntaje:</h5>
              <a href="vista_detallada.html" class="btn btn-primary">Ver Poema</a>
              
             </div>
             </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <img src="https://via.placeholder.com/100x100" class="card-img-top" alt="...">
              <div class="d-grid gap-2">
                <h5 class="card-title">Nombre:</h5>
              <h5 class="card-title">Poema:</h5>
              <h5 class="card-title">Promedio:</h5>
              <h5 class="card-title">Puntaje:</h5>
                
                <a href="vista_detallada.html" class="btn btn-primary">Ver Poema</a>
               </div>
               </div>
         </div>
         <div class="col-md-3">
            <div class="card">
              <img src="https://via.placeholder.com/100x100" class="card-img-top" alt="...">
              <div class="d-grid gap-2">
                <h5 class="card-title">Nombre:</h5>
              <h5 class="card-title">Poema:</h5>
              <h5 class="card-title">Promedio:</h5>
              <h5 class="card-title">Puntaje:</h5>
                <a href="vista_detallada.html" class="btn btn-primary">Ver Poema</a>
                <div class="d-grid gap-2">
                    
               </div>
               </div>
               </div>
         </div>
         
         <div class="col-md-3">
            <div class="card">
              <img src="https://via.placeholder.com/100x100" class="card-img-top" alt="...">
              <div class="d-grid gap-2">
                <h5 class="card-title">Nombre:</h5>
              <h5 class="card-title">Poema:</h5>
              <h5 class="card-title">Promedio:</h5>
              <h5 class="card-title">Puntaje:</h5>
                <a href="vista_detallada.html" class="btn btn-primary">Ver Poema</a>
                <div class="d-grid gap-2">
                    
               </div>
               </div>
               </div>
         </div>

         
  
  
    </div>
  
    <div class="position-absolute bottom-0 start-50 translate-middle-x">
        <ul class="pagination justify-content-center">
            <li class="page-item">
            <a class="page-link" href="#">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
            <span class="page-link">2</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
            <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </div>
      </div>
  {% endblock %}